.container-fulid{
    background-color: royalblue;
    padding: 40px;
}
.card {
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
    color:rgb(11, 11, 114);
    margin: auto;
    justify-content: center;
    width: 50%;
    padding-right: 40px;
    padding-left: 40px;
}
#title{
    padding: 10px;
    align-content: center;
}
#btn-one{
    margin: auto;
}
label{
    font-weight: bolder;
}
